[Desktop Entry]
Name=SimulaBeta
Version=3.2.0
Comment=SimulaBeta
Exec="/home/pi/SimulaBeta"
Terminal=false
Type=Application
Icon=simulabeta.png
Categories=Application;Education;Science
